html{
    height: 100%;
}
body{
    /*height: 400px;
    width: 600px;*/
    height: 100%;
}

.hotspot {
    height: 50px;
    width: 50px;
    border-radius: 25px;    
    border: 2px solid #ED553D; 
}

.tooltip img{
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}
.tooltip:hover img{
    visibility: visible;
}

.tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: limegreen;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}

.tooltip:hover span{
    visibility: visible;
}

.tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: limegreen transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}   
